/**
 * --------------------------------------------------------------------------
 * ACCORDION
 * --------------------------------------------------------------------------
 */
.accordion {
	.title {
		cursor: pointer;
		background: #ccc;
		padding: 15px;
	}
	.content {
		display: none;
		padding: 20px;
	}
}