/**
 * --------------------------------------------------------------------------
 * VARIABLES PREFIXES
 * --------------------------------------------------------------------------
 */
// COLORS
$white: #ffffff;
$black: #000000;

//  RESPONSIVE GRID
$media-xLarge: 1200px;
$media-large: 992px;
$media-medium: 768px;
$media-small: 576px;